<% if !@app_requests.empty? %>
  <div class="invitations-header">
    <div class="character">
      <h1>An Invitation!!</h1>
    </div>
  </div>

  <div class="app-request-list">
  <% @app_requests.each do |request| %>
    <div class="app-request" data-requestid="<%= request['id'] %>" data-action="<%= request['data']['action'] %>" data-inviter="<%= request['data']['inviter_guid'] %>">
      <p><%= request['from']['name'] %> has invited you to chat with them in Worlize!</p>
      <button class="accept">Accept</button>
      <button class="ignore">Ignore</button>
    </div>
  <% end %>
  </div>
<% end %>

<textarea rows="20" cols="80"><%= @app_requests.to_json.html_safe %></textarea>

<% content_for :page_script do %>
<script>
  jQuery(function($) {
    $('button.accept').live('click', function(event) {
      var request = $(this).closest('.app-request');
      var requestId = request.data('requestid');
      var form = $('<form>');
      form.attr('method', 'post');
      form.attr('action', '<%= request.scheme %>://<%= request.host_with_port %>/fb-canvas/handle_request/' + requestId);
      $(document.body).append(form)
      form.submit();
    });
    $('button.ignore').live('click', function(event) {
      var request = $(this).closest('.app-request');
      var requestId = request.data('requestid');
      $.post('ignore_request/' + requestId);
      request.remove();
    });
  });
</script>
<% end %>