<h1>Build account from Beta Registration</h1>
<%= error_messages_for @user %>
<%= form_for [:admin, @user] do |f| %>
  <div class="formfield">
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
  </div>

  <div class="formfield">
    <%= f.label :username, "Username: (required)" %>
    <%= f.text_field :username %>
  </div>

  <div class="formfield">
    <%= f.label :email, "Email:" %>
    <%= f.email_field :email %>
  </div>
  
  <div class="formfield">
    <%= f.label :twitter, "Twitter:" %>
    <%= f.text_field :twitter %>
  </div>
  
  <div class="formfield">
    <%= f.label :password, "Password:" %>
    <%= f.password_field :password %>
  </div>
  
  <div class="formfield">
    <%= f.label :password_confirmation, "Password Confirmation:" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="formfield">
    <%= f.label :send_email, "Send welcome email?" %>
    <%= check_box_tag :send_email, '1', true %>
  </div>
  
  <p>(Leave password blank to generate one)</p>
  
  <br>
  <div class="actionButtons">
    <%= link_to "Cancel", admin_beta_registrations_url %> 
    <%= submit_tag "Create Account", :class => 'big' %>
  </div>
<% end %>