<section class="form">
  <%= form_for [:admin, :world, @room] do |f| %>
    <% if @room.errors.any? %>
    <div class="errorExplanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>
      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
  
    <table width="550">
      <tr>
        <td class="fieldLabel">
          <%= f.label :name %>
        </td>
        <td class="fieldCell">
          <%= f.text_field :name %>
        </td>
      </tr>
    </table>
    <br/>
    <%= f.submit %>
  <% end %>
</section>
