<h1><%= @world.name %> - Rooms</h1>
<% if @rooms.length > 0 %>
  <table class="datagrid" width="500">
    <thead>
      <tr>
        <th width="300">Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for room in @rooms %>
      <tr class="<%= cycle('even','odd') %>">
        <td><%= room.name %></td>
        <td>
        <%= link_to "Edit", edit_admin_world_room_path(@world, room) %> |
        <%= link_to "Enter", enter_room_path(room.guid), :method => :post %> |
        <%= link_to "Delete",  admin_world_room_path(@world, room), :method => :delete, :confirm => "Are you sure?" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>There are no rooms in this worlz</h2>
<% end %>

<%= link_to "New Room", new_admin_world_room_path(@world) %><br/>
<%= link_to "Worlz List", admin_worlds_path %>