<div id="login-overlay">
	<div id="left-column">
		<div id="worlize-logo"></div>
		<h1><%= @sharing_link.room.world.name %>: <%= @sharing_link.room.name %></h1>
		<h2>Sign in now to chat with <%= @sharing_link.user.username %>.</h2>
	</div>
	
	<div id="right-column">
		<h1>Sign in</h1>
		<%= form_for @user_session, :url => user_session_path, :html => {:class => 'standard_form'} do |f| %>
			<div id="signin-form-container">
				<%= f.label :username, 'Username:' %><br>
				<%= f.text_field :username %><br><br>
				<%= f.label :password, 'Password:' %><br>
				<%= f.password_field :password %>
				<p style="text-align: right">
					<%= f.submit 'Enter Worlize' %>
				</p>
				
				<div class="login-alternative">
			      <p>Or sign in with:</p>
			      <a href="/auth/facebook"><%= image_tag 'homepage-facebook-icon.png', :alt => 'Login with Facebook' %></a>
			      <a href="/auth/twitter"><%= image_tag 'homepage-twitter-icon.png', :alt => 'Login with Twitter' %></a>
			    </div>
			</div>
		<% end %>
	</div>
</div>