<nav id="adminNav">
  <ul>
    <li class="mainCategory">
      General
      <ul>
        <li><%= link_to "Users", admin_users_path %></li>
        <li><%= link_to "Beta Registrations", admin_beta_registrations_path %></li>
        <li><%= link_to "Worlz", admin_worlds_path %></li>
        <li><%= link_to "Status", admin_status_path %></li>
        <li><%= link_to "Manage", admin_management_path %></li>
      </ul>
    </li>
    <li class="mainCategory">
      Marketplace
      <ul>
        <li><%= link_to "Categories", admin_marketplace_categories_path %></li>
        <li><%= link_to "Uncategorized Items", admin_marketplace_items_path %></li>
        <li><%= link_to "Themes", admin_marketplace_themes_path %></li>
        <li><%= link_to "Tag Contexts", admin_marketplace_tag_contexts_path %></li>
      </ul>
    </li>

  </ul>
  <div style="clear:both;"></div>
</nav>