<h1>Admin Dashboard</h1>

<section id="quickStats">
  <h1>Quick Stats</h1>
  <ul>
    <li>Users: <%= @user_count %></li>
    <li>New Users Today: <%= @new_users_today %></li>
    <li>New Users This Week: <%= @new_users_this_week %></li>
    <li>New Users This Month: <%= @new_users_this_month %></li>
  </ul>
  
  <div id="new-users-graph" style="width: 750px; height: 250px;"></div>
  
  <script type="text/javascript" charset="utf-8">
    $(function() {
      var data = <%= @new_user_graph_data.html_safe %>;
      
      $.jqplot('new-users-graph', [data], {
        title: "User Signups by Day",
        gridPadding: { right: 35 },
        axes: {
          xaxis: {
            renderer: $.jqplot.DateAxisRenderer,
            tickOptions: { formatString: '%b %#d, %y' },
            tickInterval: '2 week'
          }
        },
        series: [{
          lineWidth: 2,
          showMarker: false
        }]
      });
    });
  </script>
  
</section>
