<div class="virtual-currency-product" style="border:1px solid black;">
  <h1><%= virtual_currency_product.name %></h1>
  <% if virtual_currency_product.description && !virtual_currency_product.description.empty? %>
    <h2><%= virtual_currency_product.description %></h2>
  <% end %>
  <% if virtual_currency_product.coins_to_add > 0 %>
    <p class="coins">Coins: <%= virtual_currency_product.coins_to_add %></p>
  <% end %>
  <% if virtual_currency_product.bucks_to_add > 0 %>
    <p class="bucks">Bucks: <%= virtual_currency_product.bucks_to_add %></p>
  <% end %>
  <p class="price">
    Price: $<%= sprintf('%.2f', virtual_currency_product.price) %>
  </p>
  <p class="actions">
    <% if !virtual_currency_product.first? %>
      <%= link_to 'Move Up', move_higher_admin_virtual_currency_product_path(virtual_currency_product), :method => :post %>
    <% end %>
    <% if !virtual_currency_product.last?  %>
      <%= link_to 'Move Down', move_lower_admin_virtual_currency_product_path(virtual_currency_product), :method => :post %>
    <% end %>
  </p>
</div>
<br>