<h1>Worlds</h1>

<% if @worlds.length > 0 %>
  <table class="datagrid" width="500">
    <thead>
      <tr>
        <th width="300">Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for world in @worlds %>
      <tr class="<%= cycle('even','odd') %>">
        <td><%= world.name %></td>
        <td>
          <%= link_to "Rooms", admin_world_rooms_path(world) %> |
          <%= link_to "Edit", edit_admin_world_path(world) %> |
          <%= link_to "Delete",  admin_world_path(world), :method => :delete, :confirm => "Are you sure?" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>There are no worlds to show</h2>
<% end %>

<%= link_to "New World", new_admin_world_path %>