<% title 'Login' %>

<div id="login-overlay">
	<div id="signup-page">
	  <div class="character">
  	  <h1>Sweet!</h1>
  	  <h2>Just one more tiny little form…</h2>
	  </div>
	  <% if @user.errors.any? %>
      <div class="errorExplanation">
        <h3>There was a problem with your submission.<br>Please try again.</h3>
      </div>
    <% else %>
	    <h3>Pick a screen name to identify yourself.</h3>    
    <% end %>

    <%= form_for(@user, :html => {:class => 'standard_form'}) do |f| %>
      <% if @beta_invitation %>
        <%= hidden_field_tag :invite_code, @beta_invitation.invite_code %>
      <% end %>

  	  <table>
  	    <tr>
          <% if @email_autofilled && @user.errors['email'].empty? %>
            <th colspan="2" width="300" style="text-align: center; text-indent: -65px;">
              <%= f.label :username, 'Screen Name' %>
            </th>
          <% else %>
            <th>
              <%= f.label :username, 'Screen Name' %>
            </th>
            <th>
              <%= f.label :email, 'Email' %>
            </th>
          <% end %>
  	    </tr>
  	    <tr>
          <% if @email_autofilled && @user.errors['email'].empty? %>
            <td colspan="2" width="300" style="text-align: center;">
              <%= f.text_field :username, :tabindex => 1 %>
              <%= f.hidden_field :email %>
            </td>
          <% else %>
            <td>
              <%= f.text_field :username, :tabindex => 1 %>
            </td>
            <td>
              <%= f.text_field :email, :tabindex => 2 %>
            </td>
          <% end %>
  	    </tr>
  	    <tr>
  	      <td colspan="2">
        	  <div class="submit-button">
              <%= f.submit 'Let\'s Go!', :tabindex => 4 %>
        	  </div>
        	  <div class="tos-checkbox">
              <%= f.check_box :accepted_tos, :tabindex => 3, :checked => true %>
              <%= f.label :accepted_tos, 'I agree to the terms and conditions' %>
        	  </div>
  	      </td>
  	    </tr>
  	  </table>
  	  <div id="validation-tooltip" class="validation-tooltip" style="display:none;">
  	    <div class="tip"></div>
  	    <div class="message"></div>
  	  </div>
    <% end %>
  </div>
</div>

<% content_for :page_script do %>
<script>
  jQuery(function($) {
    $('form#new_user').submit(function(event) {
      var field = $('input#user_accepted_tos');
      if (!field.attr('checked')) {
        event.preventDefault();
        var position = field.position();
        showValidationTooltip(
         'You must agree to the terms and conditions.',
         {
           top: position.top + field.outerHeight(),
           left: position.left + 2
         }
        );
      }
    });
    
    var keyTimer;
    $('input#user_username').bind('keyup', function(event) {
      if (keyTimer) {
        clearTimeout(keyTimer);
      }
      keyTimer = setTimeout(function() {
        var username = $('input#user_username').val();
        validateUsername(username, true);
      }, 350);
    });
    $('input#user_username').bind('focus', function(event) {
      if (keyTimer) {
        clearTimeout(keyTimer);
      }
      var username = $('input#user_username').val();
      validateUsername(username, true);
    });
    $('input#user_username').bind('blur', function(event) {
      hideValidationTooltip();
      var username = $('input#user_username').val();
      validateUsername(username, false);
    });
    
    $('input#user_email').bind('keyup', function(event) {
      if (keyTimer) {
        clearTimeout(keyTimer);
      }
      keyTimer = setTimeout(function() {
        var email = $('input#user_email').val();
        validateEmail(email, true);
      }, 350);
    });
    $('input#user_email').bind('focus', function(event) {
      if (keyTimer) {
        clearTimeout(keyTimer);
      }
      var email = $('input#user_email').val();
      validateEmail(email, true);
    });
    $('input#user_email').bind('blur', function(event) {
      var email = $('input#user_email').val();
      validateEmail(email, false);
      hideValidationTooltip();
    });
    
    
    function validateUsername(username, showTooltip) {
      if (username.length > 0) {
        $.get('/users/validate_field',
          {
            field_name: 'username',
            value: username
          },
          function(data, textStatus, jqXHR) {
            if (!data.valid) {
              if (showTooltip) {
                var field = $('input#user_username')
                var position = field.position();
                showValidationTooltip(
                  'Screen name ' + data.message,
                  {
                    top: position.top + field.outerHeight(),
                    left: position.left + 20
                  }
                );
              }
              $('input#user_username').removeClass('valid');
            }
            else {
              if (showTooltip) {
                hideValidationTooltip();                
              }
              $('input#user_username').addClass('valid');
            }
          }
        );
      }
      else {
        if (showTooltip) {
          hideValidationTooltip();
        }
        $('input#user_username').removeClass('valid');
      } 
    }
    
    function validateEmail(email, showTooltip) {
      $.get('/users/validate_field',
        {
          field_name: 'email',
          value: email
        },
        function(data, textStatus, jqXHR) {
          if (!data.valid) {
            if (showTooltip) {
              var field = $('input#user_email')
              var position = field.position();
              showValidationTooltip(
                'Email ' + data.message,
                {
                  top: position.top + field.outerHeight(),
                  left: position.left + 20
                }
              );
            }
            $('input#user_email').removeClass('valid');
          }
          else {
            if (showTooltip) {
              hideValidationTooltip();
            }
            $('input#user_email').addClass('valid');
          }
        }
      );
    }
    
    function showValidationTooltip(message, position) {
      $('#validation-tooltip').find('.message').html(message);
      $('#validation-tooltip').css(position);
      $('#validation-tooltip').show();
    }
    
    function hideValidationTooltip() {
      $('#validation-tooltip').hide();
    }
    
  });
</script>
<% end %>
