<% title 'Sign Up' %>

<% content_for :extra_styles do %>
.signup-form {
  width: 550px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.signup-form select.date {
  width: 75px;
}
.signup-form select.date:first-child {
  width: 100px;
}
.form-horizontal .help-inline {
  display:block;
  padding-left: 0px;
}
.signup-form p.help-block,
.signup-form .error p.help-block {
  color: #333;
}
<% end %>

<% content_for :page_script do %>
<script type="text/javascript" charset="utf-8">
  $(function() {
    $('a.fancybox').fancybox();
    
    $('form.signup-form').bind('submit', function() {
      $('#signup-submit-button').attr('disabled','disabled');
    });
  });
</script>
<% end %>

<%= simple_form_for @user, :html => { :class => 'form-horizontal signup-form' } do |f| %>
  <% if @user.new_record? %>
  <h1>Almost there!</h1>
  <% else %>
  <h1>Update Account</h1>
  <% end %>
  <p class="lead">Just a few more things before we can get started.</p>
  
  <%= f.input :username, :required => true,
                         :hint => "This is the name <b>people will see</b> inside Worlize.",
                         :label => "Screen Name" %>
  <%= f.input :login_name, :required => true,
                           :hint => "This is the name you will use to <b>log in to your account</b>.",
                           :label => "Login Name" %>
  <%= f.input :email, :required => true %>
  
  <% unless @require_password %>
    <p class="lead">You'll always be able to use your <%= @provider.capitalize %> account to log in to Worlize, but we recommend that you optionally choose a password as an alternate way to log in.</p>
  <% end %>
  <%= f.input :password, :required => @require_password %>
  <%= f.input :password_confirmation, :required => @require_password %>
  <% unless @email_autofilled %>
    <%= f.input :birthday, :as => :date,
                           :start_year => Time.now.year - 13,
                           :end_year => Time.now.year - 110,
                           :order => [:month, :day, :year],
                           :hint => "You must be at least 13 years old to use Worlize.",
                           :prompt => true,
                           :required => true %>
  <% end %>

  <%= f.input :accepted_tos, :label => false,
                             :inline_label => 'I agree to the <a href="/tos.html" class="fancybox" data-fancybox-type="iframe" target="_BLANK">Terms and Conditions</a>.'.html_safe %>
  <%= f.input :newsletter_optin, :label => false,
                                 :inline_label => "I'd like to receive occasional emails about Worlize updates." %>
  <div class="controls">
    <%= f.submit "Let's Go!", :class => 'btn btn-primary btn-large', :id => 'signup-submit-button' %>
    <br><br>
  </div>
<% end %>