<section id="userRegistration">
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
    <div class="errorExplanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    <table style="text-align:right; width:450px">
      <tr>
        <td>Username:</td>
        <td><%= f.text_field :username %></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><%= f.password_field :password %></td>
      </tr>
      <tr>
        <td>Password Confirmation:</td>
        <td><%= f.password_field :password_confirmation %></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align:right;">
          <%= f.submit "Submit" %>
        </td>
    </table>
  <% end %>
</section>