<% title 'Login' %>

<div id="login-overlay">
	<div id="signup-page">
	  <div class="character">
  	  <h1>Sweet!</h1>
  	  <h2>Just one more tiny little form…</h2>
	  </div>
	  <% if @user.errors.any? %>
      <div class="errorExplanation">
        <h3>There was a problem with your submission.  Please try again.</h3>
      </div>
    <% else %>
	    <h3>Pick a screen name to identify yourself.</h3>    
    <% end %>

    <%= form_for(@user, :html => {:class => 'standard_form'}) do |f| %>
      <% if @beta_invitation %>
        <%= hidden_field_tag :invite_code, @beta_invitation.invite_code %>
      <% end %>

  	  <table>
  	    <tr>
          <th>
            <%= f.label :username, 'Screen Name' %>
          </th>
          <th>
            <%= f.label :email, 'Email' %>
          </th>
  	    </tr>
  	    <tr>
          <td>
            <%= f.text_field :username, :tabindex => 1 %>
          </td>
          <td>
            <%= f.text_field :email, :tabindex => 2 %>
          </td>
  	    </tr>
  	    <% if @require_password %>
  	    <tr>
  	      <th style="padding-top: 7px;">
  	        <%= f.label :password, 'Password' %>
  	      </th>
  	      <th style="padding-top: 7px;">
  	        <%= f.label :password_confirmation, 'Confirm Password' %>
  	      </th>
  	    </tr>
  	    <tr>
  	     <td>
  	       <%= f.password_field :password, :tabindex => 3 %>
  	     </td>
  	     <td>
  	       <%= f.password_field :password_confirmation, :tabindex => 4 %>
  	     </td>
  	    </tr>
  	    <% end %>
  	    <tr>
  	      <td colspan="2">
        	  <div class="submit-button">
              <%= f.submit 'Let\'s Go!', :tabindex => 7 %>
        	  </div>
        	  <div class="newsletter-checkbox">
        	    <%= f.check_box :newsletter_optin, :tabindex => 5 %>
        	    <%= f.label :newsletter_optin, 'Send me Worlize updates (3-4 emails/mo.)' %>
        	  </div>
        	  <div class="tos-checkbox">
              <%= f.check_box :accepted_tos, :tabindex => 6, :checked => true %>
              <%= f.label :accepted_tos, 'I agree to the' %><%= link_to('terms and conditions', '/tos.html', :class => 'tos_link', :target => '_BLANK').html_safe %>
        	  </div>
  	      </td>
  	    </tr>
  	  </table>
  	  <div id="validation-tooltip" class="validation-tooltip" style="display:none;">
  	    <div class="tip"></div>
  	    <div class="message"></div>
  	  </div>
    <% end %>
  </div>
</div>

<% content_for :page_script do %>
<script>
  jQuery(function($) {
    $('form#new_user').submit(function(event) {
      var field = $('input#user_accepted_tos');
      if (!field.attr('checked')) {
        event.preventDefault();
        var position = field.position();
        showValidationTooltip(
         'You must agree to the terms and conditions.',
         {
           top: position.top + field.outerHeight(),
           left: position.left + 2
         }
        );
      }
    });
    
    var keyTimer;
    $('input#user_username').bind('keyup', function(event) {
      if (keyTimer) {
        clearTimeout(keyTimer);
      }
      keyTimer = setTimeout(function() {
        var username = $('input#user_username').val();
        validateUsername(username, true);
      }, 350);
    });
    $('input#user_username').bind('focus', function(event) {
      if (keyTimer) {
        clearTimeout(keyTimer);
      }
      var username = $('input#user_username').val();
      validateUsername(username, true);
    });
    $('input#user_username').bind('blur', function(event) {
      hideValidationTooltip();
      var username = $('input#user_username').val();
      validateUsername(username, false);
    });
    
    $('input#user_email').bind('keyup', function(event) {
      if (keyTimer) {
        clearTimeout(keyTimer);
      }
      keyTimer = setTimeout(function() {
        var email = $('input#user_email').val();
        validateEmail(email, true);
      }, 350);
    });
    $('input#user_email').bind('focus', function(event) {
      if (keyTimer) {
        clearTimeout(keyTimer);
      }
      var email = $('input#user_email').val();
      validateEmail(email, true);
    });
    $('input#user_email').bind('blur', function(event) {
      var email = $('input#user_email').val();
      validateEmail(email, false);
      hideValidationTooltip();
    });
    
    $('input#user_password').bind('keyup', function(event) {
      if (keyTimer) {
        clearTimeout(keyTimer);
      }
      keyTimer = setTimeout(function() {
        var password = $('input#user_password').val();
        validatePassword(password, true);
      }, 350);
    });
    $('input#user_password').bind('focus', function(event) {
      if (keyTimer) {
        clearTimeout(keyTimer);
      }
      var password = $('input#user_password').val();
      validatePassword(password, true);
    });
    $('input#user_password').bind('blur', function(event) {
      var password = $('input#user_password').val();
      validatePassword(password, false);
      hideValidationTooltip();
    });

    $('input#user_password_confirmation').bind('keyup', function(event) {
      if (keyTimer) {
        clearTimeout(keyTimer);
      }
      keyTimer = setTimeout(function() {
        var password = $('input#user_password').val();
        var passwordConfirmation = $('input#user_password_confirmation').val();
        validatePasswordConfirmation(password, passwordConfirmation, true);
      }, 350);
    });
    $('input#user_password_confirmation').bind('focus', function(event) {
      if (keyTimer) {
        clearTimeout(keyTimer);
      }
      var password = $('input#user_password').val();
      var passwordConfirmation = $('input#user_password_confirmation').val();
      validatePasswordConfirmation(password, passwordConfirmation, true);
    });
    $('input#user_password_confirmation').bind('blur', function(event) {
      var password = $('input#user_password').val();
      var passwordConfirmation = $('input#user_password_confirmation').val();
      validatePasswordConfirmation(password, passwordConfirmation, false);
      hideValidationTooltip();
    });

        
    function validateUsername(username, showTooltip) {
      if (username.length > 0) {
        $.get('/users/validate_field',
          {
            field_name: 'username',
            value: username
          },
          function(data, textStatus, jqXHR) {
            if (!data.valid) {
              if (showTooltip) {
                var field = $('input#user_username')
                var position = field.position();
                showValidationTooltip(
                  'Screen name ' + data.message,
                  {
                    top: position.top + field.outerHeight(),
                    left: position.left + 20
                  }
                );
              }
              $('input#user_username').removeClass('valid').addClass('error');
            }
            else {
              if (showTooltip) {
                hideValidationTooltip();                
              }
              $('input#user_username').addClass('valid').removeClass('error');
            }
          }
        );
      }
      else {
        if (showTooltip) {
          hideValidationTooltip();
        }
        $('input#user_username').removeClass('valid').removeClass('error');
      } 
    }
    
    function validateEmail(email, showTooltip) {
      $.get('/users/validate_field',
        {
          field_name: 'email',
          value: email
        },
        function(data, textStatus, jqXHR) {
          if (!data.valid) {
            if (showTooltip) {
              var field = $('input#user_email')
              var position = field.position();
              showValidationTooltip(
                'Email ' + data.message,
                {
                  top: position.top + field.outerHeight(),
                  left: position.left + 20
                }
              );
            }
            $('input#user_email').removeClass('valid').addClass('error');
          }
          else {
            if (showTooltip) {
              hideValidationTooltip();
            }
            $('input#user_email').addClass('valid').removeClass('error');
          }
        }
      );
    }
    
    function validatePassword(password, showTooltip) {
      if (typeof(password) === 'string' && password.length > 0) {
        $('input#user_password').removeClass('error').addClass('valid');
        if (showTooltip) {
          hideValidationTooltip();
        }
        return;
      }
      
      $('input#user_password').removeClass('valid').addClass('error');
      if (showTooltip) {
        var field = $('input#user_password');
        var position = field.position();
        showValidationTooltip(
          'You must choose a password',
          {
            top: position.top + field.outerHeight(),
            left: position.left + 20
          }
        );
      }
    }
    
    function validatePasswordConfirmation(password, confirmation, showTooltip) {
      var message;
      var error = false;
      if (typeof(confirmation) !== 'string' || confirmation.length <= 0) {
        message = "You must confirm your password.";
        error = true;
      }
      else if (confirmation !== password) {
        message = "Password doesn't match confirmation.";
        error = true;
      }
      
      if (!error) {
        $('input#user_password_confirmation').removeClass('error').addClass('valid');
        if (showTooltip) {
          hideValidationTooltip();
        }
        return;
      }
      
      $('input#user_password_confirmation').removeClass('valid').addClass('error');
      if (showTooltip) {
        var field = $('input#user_password_confirmation');
        var position = field.position();
        showValidationTooltip(
          message,
          {
            top: position.top + field.outerHeight(),
            left: position.left + 20
          }
        );
      }
    }
    
    function showValidationTooltip(message, position) {
      $('#validation-tooltip').find('.message').html(message);
      $('#validation-tooltip').css(position);
      $('#validation-tooltip').show();
    }
    
    function hideValidationTooltip() {
      $('#validation-tooltip').hide();
    }
    
  });
</script>
<% end %>
