<%= form_for(@registration, :html => {:class => 'standard_form'}) do |f| %>
  <% if @registration.errors.any? %>
  <div class="errorExplanation">
    <h2>Oops!</h2>
    <ul>
    <% @registration.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.label :first_name, 'First Name' %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name, 'Last Name' %>
  <%= f.text_field :last_name %>
  <%= f.label :email, 'Your Email' %>
  <%= f.text_field :email %>
  <%= f.label :beta_code, 'Beta Code' %>
  <%= f.text_field :beta_code, :placeholder => '(optional)' %>
  
  <div style="text-align:right">
    <%= f.submit 'join' %>
  </div>

<% end %>
