<p class="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @registration.name %>
</p>

<p>
  <b>Email:</b>
  <%= @registration.email %>
</p>

<p>
  <b>Twitter:</b>
  <%= @registration.twitter %>
</p>


<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
