<!doctype html>  
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" lang="en" xml:lang="en"> 
    <head>
        <meta name="google" value="notranslate" />         
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="requiresActiveX=true" />
        <title>Worlize</title>

        <%= javascript_include_tag "modernizr" %>

        <style type="text/css" media="screen"> 
            html, body  { height:100%; overflow:hidden; }
            body { margin:0; padding:0;
                   background-color: #ffffff; }   
            object:focus { outline:none; }
            #flashContent { display:none; }
        </style>

        <%= stylesheet_link_tag 'enter' %>
        <link rel="stylesheet" href="/dialogs/css" type="text/css" media="screen" title="no title" charset="utf-8">
        
        <script>
          function configData() {
            return <%= @configJSON.html_safe %>;
          }
          
          function forcePageReload() {
            top.location.href=top.location.href;
          }
        </script>

  	    <!-- Javascript at the bottom for fast page loading -->
  	    <%= javascript_include_tag "enter" %>
    </head>
    <body>
      <div id="fb-root"></div>
      <script>
        window.fbLoggedIn = false;
      
        window.fbAsyncInit = function() {
          FB.init({
            appId  : '<%= Worlize.config['facebook']['app_id'] %>',
            status : true, // check login status
            cookie : true, // enable cookies to allow the server to access the session
            xfbml  : true,  // parse XFBML
            channelUrl  : '<%= escape_javascript("#{request.scheme}://#{request.host_with_port}/channel.html") %>', // Custom Channel URL
            oauth : true, //enables OAuth 2.0
            frictionlessRequests : false // Enable frictionless requests
          });
          
          var facebookLoginTimeoutHandler = function() {
            fbLoginTimeout = null;
            loadFlashApp();
          };

          var fbLoginTimeout = setTimeout(facebookLoginTimeoutHandler, 5000);
          
          // We want to make sure any potential facebook session is
          // initialized before we launch the application.  We'll wait up to
          // five seconds to get the login status response.
          FB.getLoginStatus(function(response) {
            if (fbLoginTimeout) {
              clearTimeout(fbLoginTimeout);

              if (response.authResponse) {
                window.fbLoggedIn = true;

                <% if current_user.facebook_authentication %>
                // Verify that the user's facebook account matches what we expect
                if (response.authResponse.userID !== "<%= current_user.facebook_authentication.uid %>") {
                  $.get('/logout.json', function() {
                    FB.logout(function(response) {
                      top.location.href = "/auth/facebook";
                    });
                  });
                  alert("This Worlize account is associated to a Facebook account " +
                        "other than the one that is currently logged in.  Click " +
                        "OK to log in to the correct Facebook account.");
                  return;
                }
                <% end %>

              }
              loadFlashApp();
            }
          });
        };
        
        requestedFacebookPermissions = '<%= escape_javascript(Worlize.config['facebook']['requested_permissions']) %>';

        (function() {
          var e = document.createElement('script');
          e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
          e.async = true;
          document.getElementById('fb-root').appendChild(e);
        }());

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7700604-3']);
        _gaq.push(['_setDomainName', '.worlize.com']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        function loadFlashApp() {
          // For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection. 
          var swfVersionStr = "11.5.0";

          if (!swfobject.hasFlashPlayerVersion(swfVersionStr)) {
            response = confirm("Flash Player " + swfVersionStr + " or higher is required to run Worlize.  Click OK to install it from Adobe's site, or Cancel to return to the Worlize homepage.");
            if (response) {
              top.location.href = "http://get.adobe.com/flashplayer/";
            }
            else {
              window.location.href = "/";
            }
          }
          
          // To use express install, set to playerProductInstall.swf, otherwise the empty string. 
          var xiSwfUrlStr = "<%= asset_path 'playerProductInstall.swf' %>";
          var flashvars = {};
          var params = {};
          params.quality = "high";
          params.wmode = "opaque";
          params.bgcolor = "#e6e3dc";
          params.allowscriptaccess = "sameDomain";
          params.allowfullscreen = "true";
          var attributes = {};
          attributes.id = "FlashClient";
          attributes.name = "FlashClient";
          attributes.align = "middle";
          swfobject.embedSWF(
            <% if Rails.env.development? %>
              "/flash/FlashClient.swf", "flashContent",
            <% else %>
              "<%= asset_path 'FlashClient.swf' %>", "flashContent", 
            <% end %>
              "100%", "100%", 
              swfVersionStr, xiSwfUrlStr, 
              flashvars, params, attributes);
          // JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.
          swfobject.createCSS("#flashContent", "display:block;text-align:left;");
        }
      </script>
      
      <div id="flashContent">
      	<p>
        	To view this page ensure that Adobe Flash Player version 
			    11.1.0 or greater is installed. 
		    </p>
      </div>
      
      <div id="loading-overlay-container">
        <div id="loading-overlay">
          <div class="character"> </div>
          <p>Loading.  Please Wait...</p>
        </div>
      </div>

   </body>
</html>
