<%= page_id 'homepage' %>
<% content_for :extra_head_items do %>
  <meta property="og:type" content="website">
  <meta property="og:title" content="Worlize">
  <meta property="og:image" content="<%= image_path('characters/blusey.jpg') %>">
  <meta property="og:url" content="<%= request.fullpath %>">
<% end %>

<% @hide_login_bar = true %>

<div id="homepage-character">
  <%= image_tag "homepage-jellies/#{@character_name}.jpg", :alt => @saying, :width => 850, :height => 370 %>
</div>

<div id="homepage-login">
  <div class="enter-button-background">
    <% if current_user %>
      <%= link_to 'Enter Worlize', dashboard_path, :class => 'enter-button' %>
    <% else %>
      <a class="enter-button" href="/login">Enter Worlize</a>
    <% end %>
    <div class="beta-badge"></div>
  </div>
  <%= link_to 'What is this thing anyway?', about_path, :class => 'what-is-this-thing-link' %>
</div>

<div class="as-seen-on-container">
  <div class="as-seen-on">
    <h1>As seen on:</h1>
    <a href="http://mashable.com/2011/10/11/real-time-social-environments/"><%= image_tag 'as-seen-on/mashable.png' %></a>
    <a href="http://techcrunch.com/2010/06/16/worlize/"><%= image_tag 'as-seen-on/techcrunch.png' %></a>
    <a href="http://venturebeat.com/2010/06/28/worlize-expands-team-for-social-gaming-platform/"><%= image_tag 'as-seen-on/venturebeat.png' %></a>
  </div>
</div>
