<%= form_for [:admin, @item], :html => { :multipart => true } do |f| %>
  <% if @item.errors.any? || (!@item.item.nil? && @item.item.errors.any?) %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count + 
              (@item.item.nil? ? 0 : @item.item.errors.count), "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% if @item.item %>
        <% @item.item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag :item_type, @item.item_type %>

  <% if @item.new_record? %>
    <% if !@item.item.nil? %>
      <%= fields_for @item.item do |item_fields| %>
        <%= item_fields.label :image %><br>
        <%= item_fields.file_field :image %><br>
      <% end %>
      <br>
    <% end %>
    
  <% elsif @item.item %>
    <%= image_tag @item.item.image.medium.url %><br><br>
  <% end %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <br>
  
  <%= f.label :marketplace_creator, 'Artist' %><br>
  <%= text_field_tag 'marketplace_item[marketplace_creator]',
        @item.marketplace_creator ? @item.marketplace_creator.display_name : nil %><br>
  <br>
  
  <script type="text/javascript">
    jQuery(function($) {
      $('#marketplace_item_marketplace_creator').autocomplete({
        source: "<%= escape_javascript(search_admin_marketplace_creators_path) %>"
      });
    });  
  </script>
  
  <%= f.label :marketplace_category_id, 'Category' %><br>
  <%= f.select :marketplace_category_id,
          options_for_select(@category_options_for_select, @item.marketplace_category_id),
          { :include_blank => true } %>
  <br>
  <br>
  
  <%= f.label "Currency Type" %><br>
  <%= f.radio_button :currency_id, '1' %>
  <%= f.label :currency_id_1, 'Bucks', :class => 'light_label' %><br>
  <%= f.radio_button :currency_id, '2' %>
  <%= f.label :currency_id_2, 'Coins', :class => 'light_label' %><br>
  <br>
  
  <%= f.label :price %><br>
  <%= f.text_field :price %><br>
  <br>
  
  <%= f.label :description %><br>
  <%= f.text_area :description, :cols => 40, :rows => 6 %><br>
  <br>
  
  <%= f.label :marketplace_license_id, 'License' %><br>
  <%= f.select :marketplace_license_id,
               options_from_collection_for_select(MarketplaceLicense.order(:name), 'id', 'name', @item.marketplace_license_id),
               { :include_blank => true } %><br>
  <br>
  
  <%= f.label :copyright %><br>
  <%= f.text_field :copyright %><br>
  <br>
  
  <%= f.check_box :on_sale %>
  <%= f.label :on_sale, :class => 'light_label' %><br>
  <br>
  
  <% if @item.archived? %>
    <%= f.check_box :archived %>
    <%= f.label :archived, :class => 'light_label' %><br>
    <br>
  <% end %>
  
  <h3>Tags</h3>
  <%= f.text_area :tag_list, :cols => 40, :rows => 2 %><br><br>
  
  <% for tag_context in @tag_contexts %>
    <h3>Tags: <%= tag_context.name.humanize %></h3>
    <%= text_area_tag "marketplace_item[tag_contexts][#{tag_context.name.downcase}]",
                      @item.tag_list_on(tag_context.name.downcase),
                      :cols => 40, :rows => 2 %><br><br>
  <% end %>
  
  <br>
  
  <%= f.submit 'Save' %>
<% end %>

