<h1>Marketplace Item</h1>
<% if @item.marketplace_category %>
  <%= link_to "Back to Category: #{@item.marketplace_category.name}", [:admin, @item.marketplace_category] %>
<% else %>
  <%= link_to "Back to uncategorized items", admin_marketplace_items_path %>
<% end %>
<br><br>

<p>Type: <%= @item.item_type.underscore.titleize %></p>
<br>
<h2>Featured Items</h2>
<%= render :partial => 'admin/marketplace/featured_items/featured_items' %>

<br>


<%= render 'form' %>

<br>

<%= button_to 'Archive this item', [:admin, @item], :method => :delete, :confirm => "Are you sure?  This will delete any featured placements associated with this item and take it off sale." %>

<br>

<% if @item.marketplace_category %>
  <%= link_to "Back to Category: #{@item.marketplace_category.name}", [:admin, @item.marketplace_category] %>
<% else %>
  <%= link_to "Back to uncategorized items", admin_marketplace_items_path %>
<% end %>