<h1>Active Global User Restrictions</h1>

<% if @restrictions.length == 0 %>
  <p>(There are no restrictions to show)</p>
<% else %>
  <table width="100%" class="datagrid">
    <tr>
      <th>Screen Name</th>
      <th>Kind</th>
      <th>Expires in</th>
      <th>Created By</th>
      <th>Created At ▼</th>
      <th>&nbsp;</th>
    </tr>
    <% for restriction in @restrictions %>
    <tr>
      <td><%= link_to restriction.user.username, admin_user_path(restriction.user) %></td>
      <td><%= restriction.name %></td>
      <td><%= distance_of_time_in_words Time.now, restriction.expires_at %></td>
      <td><%= restriction.created_by.username %></td>
      <td><%= restriction.created_at.strftime("%Y-%m-%d %I:%M%p") %></td>
      <td><%= link_to 'Detail', admin_user_restriction_path(restriction) %>
        <% if current_user.permissions.include?('can_reduce_restriction_time') %>
          | <%= link_to 'Cancel', admin_user_restriction_path(restriction), :method => 'delete', :confirm => "Are you sure you want to lift this restriction?" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>

  <%= will_paginate @restrictions %>

<% end %>