<h1>System Stats</h1>
<table cellspacing="0" border="0" cellpadding="0">
    <tr>
        <td align="right">Active Users:</td>
        <td><%= @total_user_count %></td>
    </tr>
    <tr>
        <td align="right">Active Rooms:</td>
        <td><%= @total_room_count %></td>
    </tr>
</table>

<br>

<h1>Interactivity Servers</h1>

<% @interactivity_servers.each do |server| %>
    <h2><%= server['server_id'] %></h2>
    <table cellspacing="0" border="0" cellpadding="0">
        <tr>
            <td align="right">Hostname / Port:</td>
            <td><%= server['host'] %>:<%= server['port'] %></td>
        </tr>
        <tr>
            <td align="right">Last Checkin:</td>
            <td><%= distance_of_time_in_words server['last_checkin'], Time.now, true %> ago</td>
        </tr>
        <tr>
            <td align="right">Active Users:</td>
            <td><%= server['user_count'] %></td>
        </tr>
        <tr>
            <td align="right">Active Rooms:</td>
            <td><%= server['room_count'] %></td>
        </tr>
    </table>
<% end %>

<br>

<h1>Redis Servers</h1>

<% @redis_servers.each do |server| %>
    <h2><%= server['name'] %></h2>
    <table cellspacing="0" border="0" cellpadding="0">
        <tr>
            <td align="right">Uptime (in days):</td>
            <td><%= server['uptime_in_days'] %></td>
        </tr>
        <tr>
            <td align="right">Connected Clients:</td>
            <td><%= server['connected_clients'] %></td>
        </tr>
        <tr>
            <td align="right">Used Memory:</td>
            <td><%= server['used_memory_human'] %></td>
        </tr>
        <tr>
            <td align="right">Changes since last save:</td>
            <td><%= server['changes_since_last_save'] %></td>
        </tr>
        <tr>
            <td align="right">PubSub Channels:</td>
            <td><%= server['pubsub_channels'] %></td>
        </tr>
        <tr>
            <td align="right">PubSub Patterns:</td>
            <td><%= server['pubsub_patterns'] %></td>
        </tr>
        <tr>
            <td align="right">Process ID:</td>
            <td><%= server['process_id'] %></td>
        </tr>
    </table>
    <br>
<% end %>