<% item = featured_item_thumb %>
<%= link_to [:admin, item], :query => 'category' do %>
  <div id="featured_item_thumb_<%= item.id %>" class="<%= item.marketplace_item.item_type == 'Background' ? 'thumbnail background' : 'thumbnail' %>">
    <% if item.marketplace_item.item.respond_to? 'image' %>
      <%= image_tag item.marketplace_item.item.image.thumb.url %>
    <% end %>
    <% if !item.active? %>
      <%= image_tag 'icons/error.png', :class => 'not_on_sale' %>
    <% end %>
  </div>
<% end %>