<h1>Marketplace Categories</h1>

<% if @breadcrumbs.length > 1 %>
  <p>
    <% for crumb in @breadcrumbs %>
      <% if crumb == @breadcrumbs.last %>
        <%= crumb.name %>
      <% else %>
        <%= link_to crumb.name, [:admin, crumb] %> &gt;
      <% end %>
    <% end %>
  </p>
  <br>
<% end %>

<%= render 'form' %>

<br>

<%= render :partial => 'subcategory_list', :locals => { :category => @category } %>

<br>

<%= render :partial => 'subcategory_form', :locals => { :category => MarketplaceCategory.new(:parent => @category) } %>

<% if @category.parent %>
  <%= button_to "Delete this category", admin_marketplace_category_path(@category),
      :method => :delete %>
<% end %>

<br>

<% if @category.marketplace_featured_items.empty? %>
  <p>(No featured items defined)</p>
<% else %>
  <div id="featured_items_list">
    <h2>Featured Items</h2>
    <div class="marketplace_thumbnail_container">
      <%= render :partial => 'featured_item_thumb', :collection => @category.marketplace_featured_items %>
    </div>
  </div>
<% end %>

<% if @category.marketplace_items.empty? %>
  <p>(There are no items in this category)</p>
<% else %>
  <div id="items_list">
    <h2>Items</h2>
    <div class="marketplace_thumbnail_container">
      <%= render :partial => 'item_thumb', :collection => @category.marketplace_items %>
    </div>
  </div>
<% end %>

<% if !@category.parent.nil? %>
  Add new: 
  <%= link_to 'Avatar', new_admin_marketplace_category_item_path(@category, :item_type => 'Avatar') %> |
  <%= link_to 'Background', new_admin_marketplace_category_item_path(@category, :item_type => 'Background') %> |
  <%= link_to 'Object', new_admin_marketplace_category_item_path(@category, :item_type => 'InWorldObject') %>
<% end %>  
  
  
  
  