<h1>Users</h1>

<% if @users.count > 0 %>
<table class="datagrid">
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>Email</th>
    <th>Time</th>
    <th>Actions</th>
  </tr>
  <% for user in @users %>
  <tr class="<%= cycle('even','odd') %>">
    <td><%= link_to user.username, admin_user_path(user) %></td>
    <td><%= user.name ? user.name : '(none)' %></td>
    <td><%= user.email %></td>
    <td><%= user.created_at.strftime("%B %d, %Y %I:%M %p") %></td>
    <td><%= button_to "Delete", admin_user_path(user), :method => :delete %></td>
  </tr>
  <% end %>
</table>
<%= will_paginate @users %>
<% else %>
<h2>There are no users to show</h2>
<% end %>