<h1>Users</h1>

<%= form_tag(admin_users_path, :method => 'get') do %>
  <%= text_field_tag :q, params[:q], :size => 45, :id => 'user-search-field' %>
  <%= submit_tag 'Search' %>
<% end %>

<br/>

<% if @users.count > 0 %>
<table id="user-results-table" class="datagrid" width="100%">
  <tr>
    <th class="online-column">Online</th>
    <th class="username-column">
      <%= link_to 'Username', params.merge(
            :sort => 'username',
            :sort_direction => params[:sort] == 'username' ? @opposite_sort_direction : params[:sort_direction]
          ) %>
      <% if params[:sort] == 'username' %>
        <% if params[:sort_direction] == 'asc' %> ▲<% end %>
        <% if params[:sort_direction] == 'desc' %>▼<% end %>
      <% end %>
    </th>
    <th class="time-spent-column">Total Time</th>
    <th class="email-column">Email</th>
    <th class="time-column">
      <%= link_to 'Signed Up', params.merge(
            :sort => 'created_at',
            :sort_direction => params[:sort] == 'created_at' ? @opposite_sort_direction : params[:sort_direction]
          ) %>
      <% if params[:sort] == 'created_at' %>
        <% if params[:sort_direction] == 'asc' %> ▲<% end %>
        <% if params[:sort_direction] == 'desc' %>▼<% end %>
      <% end %>
    </th>
    <th class="suspended-column">Suspended</th>
  </tr>
  <% for user in @users %>
  <%
       row_classes = [ cycle('even', 'odd') ]
       if user.suspended?
         row_classes.push('suspended')
       end
  %>
  <tr class="<%= row_classes.join(' ') %>">
    <td class="online-column"><%= user.online? ? "✓" : "" %></td>
    <td class="username-column"><%= link_to user.username, admin_user_path(user) %></td>
    <td class="time-spent-column"><%= user.total_time_spent_online_hms %></td>
    <td class="email-column"><%= user.email %></td>
    <td class="time-column"><%= user.created_at.strftime("%Y-%m-%d %I:%M%p") %></td>
    <td class="suspended-column"><%= user.suspended? ? "✓" : "" %></td>
  </tr>
  <% end %>
</table>
<%= will_paginate @users %>
<% else %>
<h2>There are no users to show</h2>
<% end %>

<script type="text/javascript" charset="utf-8">
  jQuery(function($) {
    $('#user-search-field').focus();
  });
</script>