<h1><%= @user.username %></h1>
<p>guid: <%= @user.guid %></p><br>
<p>User is <strong><%= @user.online? ? 'online' : 'offline' %></strong>.</p><br>
<p><%= @user.total_time_spent_online_hms_long %> spent online</p><br>

<% if @user.active? %>
  <%= button_to "Suspend Account", admin_user_path(@user), :method => :delete, :confirm => "Are you sure you want to suspend this account?" %><br>
  <%= button_to "Login as #{@user.username}", login_as_user_admin_user_path(@user), :method => 'post' %><br>
<% else %>
  <strong>Account is suspended!</strong><br><br>
  <%= button_to "Re-activate account", reactivate_admin_user_path(@user) %><br>
<% end %>

<% if !@user.is_global_moderator? %>
  <%= button_to "Make user a global moderator", set_as_global_moderator_admin_user_path(@user), :method => 'post',
                :confirm => "Are you sure you want to make this user a global moderator?" %>
<% else %>
  <%= button_to "Remove global moderator privileges", unset_as_global_moderator_admin_user_path(@user), :method => 'post',
                :confirm => "Are you sure you want to remove global moderator privileges from this user?" %>
<% end %>
<br>

<%= button_to "View/Edit Permissions", admin_user_permissions_path(@user), :method => 'get' %><br>

<h2>World: <%= link_to @world.name, admin_world_path(@world) %></h2>

<br>

<%= form_for [:admin, @user] do |f| %>
  <%= f.label :username %><br>
  <%= f.text_field :username %><br>
  
  <br>
  <%= f.label :email %><br>
  <%= f.text_field :email %><br>
  
  <br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation %><br>
  
  <br>
  <%= f.label :developer %><br>
  <%= f.check_box :developer %><br>
  
  <br>
  <h2>Locker Slots</h2>
  <table class="datagrid" id="locker-slots-table">
    <tr>
      <th>Locker</th>
      <th>Slots</th>
      <th>Used</th>
      <th>Left</th>
    </tr>
    <% kind_map = {
      'avatar' => 'Avatars',
      'background' => 'Backgrounds',
      'in_world_object' => 'Objects',
      'prop' => 'Props',
      'app' => 'Apps'
    } %>
    <% ['avatar','background','in_world_object','prop','app'].each do |kind| %>
      <tr class="<%= cycle('even','odd') %>">
        <td><%= kind_map[kind] %></td>
        <td>
          <%= f.text_field "#{kind}_slots", :size => 4 %>
        </td>
        <td><%= @user.send("#{kind}_slots_used") %></td>
        <td>
          <% if @user.send("#{kind}_slots") %>
            <%= @user.send("#{kind}_slots") - @user.send("#{kind}_slots_used") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= f.submit %>

<% end %>

<br>
<h2>Transactions</h2>
<p>Coins: <%= @coins_balance %></p>
<p>Bucks: <%= @bucks_balance %></p>
<p><%= button_to 'See all transactions', transactions_admin_user_path(@user), :method => 'get' %></p>

<br><br>
<h2>Linked Authentication Services</h2>
<% if @user.authentications.length == 0 %>
  <p>(This user has no linked services)</p>
<% else %>
  <% @user.authentications.each do |authentication| %>
  <div class="linked-service">
    <% if authentication.profile_picture %>
      <%= image_tag authentication.profile_picture, :class => 'profile-pic' %>
    <% end %>
    <ul class="links">
    <% if authentication.profile_url %>
      <li>
        <%= link_to 'Profile Page', authentication.profile_url, { :target => '_blank' } %>
      </li>
    <% end %>
      <li>
        <%= link_to "Unlink", admin_authentication_path(authentication), :method => :delete, :confirm => "Are you sure?  The user will no longer be able to use #{authentication.provider} to log into their account!" %>
      </li>
    </ul>
    
    <div class="service-name">
      <%= authentication.provider.capitalize %>
    </div>
    <div class="service-uid">
      uid: <%= authentication.uid %>
    </div>
    <div class="clearfix"></div>
  </div>
  <% end %>
<% end %>


<br>
<h2>Friends</h2>
<% if @friends.length == 0 %>
  <p>(This user has no friends)</p>
<% else %>
  <ul class="user-friends">
    <% @friends.each do |friend| %>
      <%= link_to admin_user_path(friend) do %>
        <li class="user-friend">
          <%= image_tag friend.profile_picture, :class => 'profile-picture' %>
          <span class="username"><%= friend.username %></span>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>


<script type="text/javascript" charset="utf-8">
  jQuery(function($) {
    $('#login-as-user-link').click(function(event) {
      event.preventDefault();
      var doLoginAsUser = function() {
        var form = $('<form>');
        form.attr('action', $(event.target).attr('href'));
        form.attr('method', 'POST');
        $(document.body).append(form);
        form.submit();
      };
      if (window.fbLoggedIn) {
        FB.logout(function() {
          doLoginAsUser();
        });
      }
      else {
        doLoginAsUser();
      }
    });
  })
</script>