<h1><%= @user.username %></h1>

<%= @user.first_name %> <%= @user.last_name %><br/>
User is <strong><%= @user.online? ? 'online' : 'offline' %></strong>.<br>
<% if @user.twitter %>
<%= link_to @user.twitter, "http://www.twitter.com/#{@user.twitter}" %>
<% end %>

<br>
<h2>Linked Services</h2>
<% if @user.authentications %>
  <% @user.authentications.each do |authentication| %>
  <div>
    <%= authentication.provider.capitalize %>, uid: <%= authentication.uid %>
      (<%= link_to "Unlink", admin_authentication_path(authentication), :method => :delete %>)
  </div>
  <% end %>
<% else %>
  <p>There are no linked services</p>
<% end %>

<br>
<h2>Payment History</h2>
<% if @payments.count > 0 %>
  <table cellpadding="0" cellspacing="0" class="datagrid financial-table">
      <tr>
        <th>Time</th>
        <th>Comment</th>
        <th>Amount</th>
      </tr>
      <% @payments.each do |payment| %>
        <tr class="<%= cycle('even','odd') %>">
          <td><%= payment.created_at.localtime.strftime('%Y-%m-%d %I:%M %p') %></td>
          <td><%= payment.comment %></td>
          <td style="text-align: right;">
            <p style="float: left;">$</p>
            <%= sprintf('%.2f', payment.amount) %>
          </td>
        </tr>
      <% end %>
      <tr class="<%= cycle('even','odd') %>">
        <td colspan="2" style="text-align: right; font-weight: bold;">Total</td>
        <td style="text-align: right;">
          <p style="float: left;">$</p>
          <%= sprintf('%.2f', @total_payments) %>
        </td>
      </tr>
  </table>
<% else %>
<p>(There are no payments on this account)</p>
<% end %>

<br>
<h2>Virtual Curency Transactions</h2>
<% if @virtual_financial_transactions.count > 0 %>
  <table cellpadding="0" cellspacing="0" class="datagrid financial-table">
    <tr>
      <th>Time</th>
      <th>Kind</th>
      <th>Comment</th>
      <th>Coins</th>
      <th>Bucks</th>
    </tr>
    <% @virtual_financial_transactions.each do |t| %>
      <tr class="<%= cycle('even','odd') %>">
        <td><%= t.created_at.localtime.strftime('%Y-%m-%d %I:%M %p') %></td>
        <td><%= VirtualFinancialTransaction::KINDS[t.kind] %></td>
        <td><%= t.comment %></td>
        <td style="text-align: right;"><%= t.coins_amount.nil? ? '' : t.coins_amount %></td>
        <td style="text-align: right;"><%= t.bucks_amount.nil? ? '' : t.bucks_amount %></td>
      </tr>
    <% end %>
    <tr class="<%= cycle('even','odd') %>">
      <td colspan="3" style="text-align: right; font-weight: bold;">Balance</td>
      <td style="font-weight: bold; text-align: right;"><%= @coins_balance %></td>
      <td style="font-weight: bold; text-align: right;"><%= @bucks_balance %></td>
    </tr>
  </table>
<% else %>
  <p>(There are no virtual currency transactions on this account)</p>
<% end %>