<h1><%= @user.username %></h1>
User is <strong><%= @user.online? ? 'online' : 'offline' %></strong>.<br><br>
<%= link_to "Log in as #{@user.username}", login_as_user_admin_user_path(@user), :method => 'POST' %><br><br>

<%= form_for [:admin, @user] do |f| %>

  <%= f.label :username %><br>
  <%= f.text_field :username %><br>
  
  <br>
  <%= f.label :email %><br>
  <%= f.text_field :email %><br>
  
  <br>
  <h2>Locker Slots</h2>
  <table class="datagrid" id="locker-slots-table">
    <tr>
      <th>Locker</th>
      <th>Slots</th>
      <th>Used</th>
      <th>Left</th>
    </tr>
    <% kind_map = {
      'avatar' => 'Avatars',
      'background' => 'Backgrounds',
      'in_world_object' => 'Objects',
      'prop' => 'Props'
    } %>
    <% ['avatar','background','in_world_object','prop'].each do |kind| %>
      <tr>
        <td><%= kind_map[kind] %></td>
        <td>
          <%= f.text_field "#{kind}_slots", :size => 4 %>
        </td>
        <td><%= @user.send("#{kind}_slots_used") %></td>
        <td><%= @user.send("#{kind}_slots") - @user.send("#{kind}_slots_used") %></td>
      </tr>
    <% end %>
  </table>

  <%= f.submit %>

<% end %>


<br><br>
<h2>Linked Authentication Services</h2>
<% if @user.authentications.length == 0 %>
  <p>(This user has no linked services)</p>
<% else %>
  <% @user.authentications.each do |authentication| %>
  <div class="linked-service">
    <% if authentication.profile_picture %>
      <%= image_tag authentication.profile_picture, :class => 'profile-pic' %>
    <% end %>
    <ul class="links">
    <% if authentication.profile_url %>
      <li>
        <%= link_to 'Profile Page', authentication.profile_url, { :target => '_blank' } %>
      </li>
    <% end %>
      <li>
        <%= link_to "Unlink", admin_authentication_path(authentication), :method => :delete, :confirm => "Are you sure?  The user will no longer be able to use #{authentication.provider} to log into their account!" %>
      </li>
    </ul>
    
    <div class="service-name">
      <%= authentication.provider.capitalize %>
    </div>
    <div class="service-uid">
      uid: <%= authentication.uid %>
    </div>
    <div class="clearfix"></div>
  </div>
  <% end %>
<% end %>

<br>
<h2>Payment History</h2>
<% if @payments.count > 0 %>
  <table cellpadding="0" cellspacing="0" class="datagrid financial-table">
      <tr>
        <th>Time</th>
        <th>Comment</th>
        <th>Amount</th>
      </tr>
      <% @payments.each do |payment| %>
        <tr class="<%= cycle('even','odd') %>">
          <td><%= payment.created_at.localtime.strftime('%Y-%m-%d %I:%M %p') %></td>
          <td><%= payment.comment %></td>
          <td style="text-align: right;">
            <p style="float: left;">$</p>
            <%= sprintf('%.2f', payment.amount) %>
          </td>
        </tr>
      <% end %>
      <tr class="<%= cycle('even','odd') %>">
        <td colspan="2" style="text-align: right; font-weight: bold;">Total</td>
        <td style="text-align: right;">
          <p style="float: left;">$</p>
          <%= sprintf('%.2f', @total_payments) %>
        </td>
      </tr>
  </table>
<% else %>
<p>(There are no payments on this account)</p>
<% end %>

<br>
<h2>Virtual Curency Transactions</h2>
<% if @virtual_financial_transactions.count > 0 %>
  <table cellpadding="0" cellspacing="0" class="datagrid financial-table">
    <tr>
      <th>Time</th>
      <th>Kind</th>
      <th>Comment</th>
      <th>Coins</th>
      <th>Bucks</th>
    </tr>
    <% @virtual_financial_transactions.each do |t| %>
      <tr class="<%= cycle('even','odd') %>">
        <td><%= t.created_at.localtime.strftime('%Y-%m-%d %I:%M %p') %></td>
        <td><%= VirtualFinancialTransaction::KINDS[t.kind] %></td>
        <td><%= t.comment %></td>
        <td style="text-align: right;"><%= t.coins_amount.nil? ? '' : t.coins_amount %></td>
        <td style="text-align: right;"><%= t.bucks_amount.nil? ? '' : t.bucks_amount %></td>
      </tr>
    <% end %>
    <tr class="<%= cycle('even','odd') %>">
      <td colspan="3" style="text-align: right; font-weight: bold;">Balance</td>
      <td style="font-weight: bold; text-align: right;"><%= @coins_balance %></td>
      <td style="font-weight: bold; text-align: right;"><%= @bucks_balance %></td>
    </tr>
  </table>
<% else %>
  <p>(There are no virtual currency transactions on this account)</p>
<% end %>

<br>
<h2>Credit Virtual Currency</h2>
<%= form_tag give_currency_admin_user_path(@user), :method => 'post' do %>
  <%= label_tag :comment %><br>
  <%= text_field_tag :comment, 'Given by admin'  %><br>
  <%= label_tag :amount %><br>
  <%= text_field_tag :amount, '', :size => 4 %>
  <%= select_tag('currency_type', options_for_select([
    ['Coins', 'coins'],
    ['Bucks', 'bucks']
  ], 'coins')) %>
  <%= submit_tag 'Give Currency' %>
<% end %>

<br>
<h2>Friends</h2>
<% if @friends.length == 0 %>
  <p>(This user has no friends)</p>
<% else %>
  <ul class="user-friends">
    <% @friends.each do |friend| %>
      <%= link_to admin_user_path(friend) do %>
        <li class="user-friend">
          <%= image_tag friend.profile_picture, :class => 'profile-picture' %>
          <span class="username"><%= friend.username %></span>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
