<h1>Transactions</h1>
<h2>User: <%= link_to @user.username, admin_user_path(@user) %></h2>
<br>

<h2>Payment History</h2>
<% if @user.payments.count > 0 %>
  <table cellpadding="0" cellspacing="0" class="datagrid financial-table">
      <tr>
        <th>Time</th>
        <th>Comment</th>
        <th>Amount</th>
      </tr>
      <% @user.payments.each do |payment| %>
        <tr class="<%= cycle('even','odd') %>">
          <td><%= payment.created_at.localtime.strftime('%Y-%m-%d %I:%M %p') %></td>
          <td><%= payment.comment %></td>
          <td style="text-align: right;">
            <p style="float: left;">$</p>
            <%= sprintf('%.2f', payment.amount) %>
          </td>
        </tr>
      <% end %>
      <tr class="<%= cycle('even','odd') %>">
        <td colspan="2" style="text-align: right; font-weight: bold;">Total</td>
        <td style="text-align: right;">
          <p style="float: left;">$</p>
          <%= sprintf('%.2f', @total_payments) %>
        </td>
      </tr>
  </table>
<% else %>
<p>(There are no payments on this account)</p>
<% end %>

<br>
<h2>Credit Virtual Currency</h2>
<%= form_tag give_currency_admin_user_path(@user), :method => 'post' do %>
  <%= label_tag :comment %><br>
  <%= text_field_tag :comment, 'Given by admin'  %><br>
  <%= label_tag :amount %><br>
  <%= text_field_tag :amount, '', :size => 4 %>
  <%= select_tag('currency_type', options_for_select([
    ['Coins', 'coins'],
    ['Bucks', 'bucks']
  ], 'coins')) %>
  <%= submit_tag 'Give Currency' %>
<% end %>


<br>
<h2>Virtual Currency Transactions</h2>
<% if @user.virtual_financial_transactions.count > 0 %>
  <table cellpadding="0" cellspacing="0" class="datagrid financial-table">
    <tr>
      <th>Time</th>
      <th>Kind</th>
      <th>Comment</th>
      <th>Coins</th>
      <th>Bucks</th>
    </tr>
    <% @user.virtual_financial_transactions.each do |t| %>
      <tr class="<%= cycle('even','odd') %>">
        <td><%= t.created_at.localtime.strftime('%Y-%m-%d %I:%M %p') %></td>
        <td><%= VirtualFinancialTransaction::KINDS[t.kind] %></td>
        <td><%= t.comment %></td>
        <td style="text-align: right;"><%= t.coins_amount.nil? ? '' : t.coins_amount %></td>
        <td style="text-align: right;"><%= t.bucks_amount.nil? ? '' : t.bucks_amount %></td>
      </tr>
    <% end %>
    <tr class="<%= cycle('even','odd') %>">
      <td colspan="3" style="text-align: right; font-weight: bold;">Balance</td>
      <td style="font-weight: bold; text-align: right;"><%= @coins_balance %></td>
      <td style="font-weight: bold; text-align: right;"><%= @bucks_balance %></td>
    </tr>
  </table>
<% else %>
  <p>(There are no virtual currency transactions on this account)</p>
<% end %>


