<h1>Avatar Detail</h1>

<ul>
  <li>Name: <%= @avatar.name %></li>
  <% if @avatar.creator %>
    <li>Creator: <%= link_to @avatar.creator.username, admin_user_path(@avatar.creator) %> (login name: <%= @avatar.creator.login_name %>)</li>
  <% else %>
    <li>Creator Unknown!</li>
  <% end %>
  <li>Animated GIF:  <%= @avatar.animated_gif ? 'Yes' : 'No' %></li>
  <li>Created At: <%= @avatar.created_at.in_time_zone(Time.zone).to_s(:long) %> <%= Time.zone %></li>
  <li>Copies: <%= @avatar.avatar_instances.count %></li>
</ul>

<ul>
  <li>
    Fullsize:<br>
    <%= image_tag @avatar.image.url, :style => 'max-width: 800px;' %>
  </li>
  <li>
    Medium:<br>
    <%= image_tag @avatar.image.medium.url %>
  </li>
  <li>
    Thumb:<br>
    <%= image_tag @avatar.image.thumb.url %>
  </li>
  <li>
    Icon:<br>
    <%= image_tag @avatar.image.icon.url %>
  </li>
</ul>

<br>

<% if @avatar.image_fingerprint %>
  <%= button_to 'Ban Image by Fingerprint', admin_user_avatar_ban_fingerprint_path(@user, @avatar.guid), :confirm => 'Are you sure you want to ban this image from being uploaded again?' %>
  <br><br>
<% else %>
  <button disabled="disabled" style="opacity: 0.3; cursor: default;">Ban Image by Fingerprint</button><br>
  (Cannot ban image fingerprint, because this avatar was uploaded before we started calculating fingerprints for uploaded images.)<br><br>
<% end %>

<%= button_to "Delete All Copies", admin_user_avatar_path(@user, @avatar.guid), :method => :delete, :confirm => "Are you sure you want to delete all #{@avatar.avatar_instances.count} copies of this Avatar?" %>
