<%= title "#{@category.name} - Worlize Marketplace" %>
<% content_for :extra_head_items do %>
  <meta property="og:type" content="article">
  <meta property="og:title" content="<%= @category.name %> - Worlize Marketplace">
  <meta property="og:image" content="<%= request.protocol + request.host_with_port + image_path('characters/blusey.jpg') %>">
  <meta property="og:url" content="<%= marketplace_category_url(@category) %>">

  <% if @category.marketplace_theme %>
    <link rel="stylesheet" href="<%= marketplace_theme_path(@category.marketplace_theme) %>">
  <% end %>
<% end %>


<% if @carousel_items.size >= 4 %>
  <section id="carousel" class="unselectable">
    <% for featured_item in @carousel_items %>
      <div class="carousel-banner">
        <%= link_to featured_item.featured_item, 'data-type' => featured_item.featured_item_type do %>
          <img data-banner-src="<%= featured_item.carousel_image.url %>"
            <% if featured_item.featured_item.respond_to?('name') %>
               alt="<%= featured_item.featured_item.name %>"
            <% end %>
               data-thumb-src="<%= featured_item.carousel_thumbnail_image.url %>">
        <% end %>
      </div>
    <% end %>
    <section id="carousel-thumbs">
    </section>
    <div class="bottom-left"></div>
    <div class="bottom-edge"></div>
    <div class="bottom-right"></div>
    <div class="left-edge"></div>
    <div class="right-edge"></div>
  </section>
  <script>
    // Hide the carousel until the images are finished loading.
    document.getElementById('carousel').style.visibility = 'hidden';
  </script>
<% end %>


<%= render :partial => 'marketplace/right_column' %>


<div id="left-column">
  <%# Featured items of each type %>
  <% for item_type in %w(avatars backgrounds in_world_objects) %>
    <% featured_items = @category.marketplace_featured_items.send(item_type).active %>
    <% if !featured_items.empty? %>
      <section class="featured item-list">
        <% if item_type == 'in_world_objects'
          link_item_type = 'objects'
          display_item_type = 'Objects'
         else
          link_item_type = item_type
          display_item_type = item_type.humanize.capitalize
         end %>
        <h1>Featured <small><%= display_item_type %></small>
          <% item_count = MarketplaceItem.send(item_type).active.where(:marketplace_category_id => @category.id).count %>
          <% if item_count > 0 %>
            <%= link_to "See all...", send("marketplace_category_#{link_item_type}_path", @category.id) %>
          <% end %>
        </h1>
        <ul class="item-thumbnail-container" data-item-type="<%= item_type.camelize.singularize %>">
          <%= render :partial => 'featured_item_thumb', :collection => featured_items %>
        </ul>
        <div style="clear:left; width:0px; height:0px;">&nbsp;</div>
      </section>
    <% end %>
  <% end %>
  
  <%# List All Items %>
  <% for item_type in %w(avatars backgrounds in_world_objects) %>
    <% items = @category.marketplace_items.active.send(item_type) %>
    <% items_count = items.count %>
    <% items = items.limit(30) %>
    <% if !items.empty? %>
      <section class="item-list">
        <% if item_type == 'in_world_objects'
             link_item_type = 'objects'
             display_item_type = 'Objects'
           else
             link_item_type = item_type
             display_item_type = item_type.humanize.capitalize
           end %>
        <h1>
          <%= display_item_type %>
          <% if items.size > 30 %>
            <%= link_to "See all #{items_count} #{display_item_type}...", send("marketplace_category_#{link_item_type}_path", @category.id) %>
          <% end %>
        </h1>
        <ul class="item-thumbnail-container" data-item-type="<%= item_type.camelize.singularize %>">
          <%= render :partial => 'marketplace/items/item_thumb', :collection => items %>
        </ul>
        <div style="clear:left; width:0px; height:0px;">&nbsp;</div>
      </section>
    <% end %>
  <% end %>
</div>



<div style="clear:both;">&nbsp;</div>

<% content_for :page_script do %>
<script>
  jQuery(function($) {
    
    // Apply ellipsis plugin (for firefox) to the item names
    var tags = ['h2', 'h3', 'h4', 'h5'];
    var selectorBase = ".item-thumbnail-container ";
    for (var i=0; i < tags.length; i++) {
      tags[i] = selectorBase + tags[i];
    }
    var selector = tags.join(', ');
    $(selector).ellipsis();
  });
</script>
<% end %>

<% content_for :fancybox do %>
// Fancybox
<% end %>
