<%= title "#{@category.name} - Marketplace" %>

<% if @carousel_items.size >= 3 %>
  <section id="carousel" class="unselectable">
    <% for featured_item in @carousel_items %>
      <div class="carousel-banner">
        <%= link_to featured_item.featured_item do %>
          <img data-banner-src="<%= featured_item.carousel_image.url %>"
            <% if featured_item.featured_item.respond_to?('name') %>
               alt="<%= featured_item.featured_item.name %>"
            <% end %>
               data-thumb-src="<%= featured_item.carousel_thumbnail_image.url %>">
        <% end %>
      </div>
    <% end %>
    <section id="carousel-thumbs">
    </section>
    <div class="bottom-left"></div>
    <div class="bottom-edge"></div>
    <div class="bottom-right"></div>
    <div class="left-edge"></div>
    <div class="right-edge"></div>
  </section>
  <script>
    // Hide the carousel until the images are finished loading.
    document.getElementById('carousel').style.visibility = 'hidden';
  </script>
<% end %>


<div id="right-column">
  <% if @category.breadcrumbs.length > 1 %>
    <p class="breadcrumbs">
<% 
  crumbs = @category.breadcrumbs
  crumbs.pop
%>
      <% for crumb in crumbs %>
        <%= link_to(html_escape(crumb.name).gsub(/\s/, '&nbsp;'), crumb) %>&nbsp;&gt;
      <% end %>
    </p>
  <% end %>
  
  <%# if !@category.parent.nil? %>
    <h1><%= @category.name %></h1>
  <%# end %>
  <p id="welcome-user">
    <% if current_user %>
      Welcome, <%= current_user.username %>!
      <div class="balance">
        <img src="/images/marketplace/coins-icon.png" alt="Coins">
          <span id="coins-balance"><%= number_with_delimiter(current_user.coins) %></span>
        <img src="/images/marketplace/bucks-icon.png" alt="Bucks">
          <span id="bucks-balance"><%= number_with_delimiter(current_user.bucks) %></span>
      </div>
    <% else %>
      <%= link_to "Log in", login_path %>
    <% end %>
  </p>  
  
  
  <% if !@category.children.empty? %>
    <nav id="subcategory-list">
      <h1>Subcategories</h1>
      <ul>
        <% for subcategory in @category.children %>
          <li><%= link_to subcategory.name, subcategory %></li>
        <% end %>
      </ul>
    </nav>
  <% end %>
</div>

<div id="left-column">
  <%# Featured items of each type %>
  <% for item_type in %w(avatars backgrounds in_world_objects) %>
    <% featured_items = @category.marketplace_featured_items.send(item_type).active %>
    <% if !featured_items.empty? %>
      <section class="featured-item-list">
        <% if item_type == 'in_world_objects'
          display_item_type = 'Objects'
         else 
          display_item_type = item_type.humanize.capitalize
         end %>
        <h1>Featured <small><%= display_item_type %></small></h1>
        <ul class="featured-thumbnail-container" data-item-type="<%= item_type.camelize.singularize %>">
          <%= render :partial => 'featured_item_thumb', :collection => featured_items %>
        </ul>
        <div style="clear:left; width:0px; height:0px;">&nbsp;</div>
      </section>
    <% end %>
  <% end %>
</div>



<div style="clear:both;">&nbsp;</div>

<% unless current_user %>
  <div id="must-be-logged-in-tooltip" style="display:none;">
    You must be logged in to buy.
  </div>
<% end %>

<% content_for :page_script do %>
<script>
  jQuery(function($) {
    var tags = ['h2', 'h3', 'h4', 'h5'];
    var selectorBase = ".featured-thumbnail-container ";
    for (var i=0; i < tags.length; i++) {
      tags[i] = selectorBase + tags[i];
    }
    var selector = tags.join(', ');
    $(selector).ellipsis();
  });
</script>
<% end %>

<% content_for :fancybox do %>
// Fancybox
<% end %>
