<%= form_for [:admin, @featured_item], :html => { :multipart => true } do |f| %>
  <% if @featured_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@featured_item.errors.count, "error") %> prohibited this featured item from being saved:</h2>

      <ul>
      <% @featured_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :featured_item_id %>
  <%= f.hidden_field :featured_item_type %>
  
  <h2>Item:</h2>
  <p><%= link_to @item.respond_to?('name_with_breadcrumbs') ? @item.name_with_breadcrumbs : @item.name, [:admin, @item] %></p><br>
  
  <%= f.label :marketplace_category_id, 'Category' %><br>
  <%= f.select :marketplace_category_id, options_for_select(@category_options_for_select, @featured_item.marketplace_category_id) %><br>
  <br>
  
  <%= f.label :include_in_carousel %><br>
  <%= f.check_box :include_in_carousel %><br>
  <br>
  
  <%= f.label :carousel_image %> (950x300)<br>
  <% if @featured_item.carousel_image? %>
    <%= image_tag @featured_item.carousel_image.url, :width => 725, :height => 229 %><br>
  <% end %>
  <%= f.file_field :carousel_image %><br>
  <%= f.hidden_field :carousel_image_cache %>
  <br>
  
  <%= f.label :carousel_thumbnail_image %> (200x100)<br>
  <% if @featured_item.carousel_thumbnail_image? %>
    <%= image_tag @featured_item.carousel_thumbnail_image.url %><br>
  <% end %>
  <%= f.file_field :carousel_thumbnail_image %><br>
  <%= f.hidden_field :carousel_thumbnail_image_cache %>
  <br>
  
  <%= f.label :active %><br>
  <%= f.check_box :active %><br>
  <br>
  
  <%= f.submit 'Save' %><br>
<% end %>