<div id="right-column">
  <% if @category.breadcrumbs.length > 1 %>
    <p class="breadcrumbs">
<% 
  crumbs = @category.breadcrumbs
  crumbs.pop
%>
      <% for crumb in crumbs %>
        <%= link_to(html_escape(crumb.name).gsub(/\s/, '&nbsp;'), crumb) %>&nbsp;&gt;
      <% end %>
    </p>
  <% end %>
  
  <%# if !@category.parent.nil? %>
    <h1><%= @category.name %></h1>
  <%# end %>
  <p id="welcome-user">
    <% if current_user %>
      Welcome, <%= current_user.username %>!
      <div class="balance">
        <img src="/images/marketplace/coins-icon.png" alt="Coins">
          <span id="coins-balance"><%= number_with_delimiter(current_user.coins) %></span>
        <img src="/images/marketplace/bucks-icon.png" alt="Bucks">
          <span id="bucks-balance"><%= number_with_delimiter(current_user.bucks) %></span>
      </div>
      
      <% if current_user.admin? %>
        <nav class="marketplace-admin-list">
          <h1>Admin Options</h1>
          <ul>
            <% if @item %>
              <li><%= link_to 'Edit item', [:admin, @item] %></li>
            <% end %>
            <li><%= link_to "Edit category '#{@category.name}'", [:admin, @category] %></li>
          </ul>
        </nav>
      <% end %>
      
    <% else %>
      <%= link_to "Log in", login_path %>
    <% end %>
  </p>  
  
  <% if !@category.children.empty? %>
    <nav id="subcategory-list">
      <h1>Subcategories</h1>
      <ul>
        <% for subcategory in @category.children %>
          <li><%= link_to subcategory.name, subcategory %></li>
        <% end %>
      </ul>
    </nav>
  <% end %>
  
</div>