<%= form_for @user_session, :url => user_session_path, :html => {:class => 'standard_form'} do |f| %>
  <% if @user_session.errors.any? %>
  <div class="errorExplanation">
    <h2>Oops!</h2>
    <p>Your username or password was incorrect.</p>
  </div>
  <% end %>

  <table>
    <tr>
      <td style="text-align: right;"><%= f.label :login_name, 'Login Name:' %></td>
      <td><%= f.text_field :login_name %></td>
    </tr>
    <tr>
      <td style="text-align: right;"><%= f.label :password, 'Password:' %></td>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: right;" class="actions">
        <%= link_to 'Not a member?', new_user_path %> <%= f.submit 'sign in' %>
      </td>
    </tr>
  </table>
<% end %>
