<% content_for :extra_styles do %>

.white-box {
  padding: 19px 29px 29px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.social-login-button {
  font-size: 20pt;
}
<% end %>

<% title 'Log In' %>

<div class="row">
  <div class="span6 offset3">
    <div class="hero-unit white-box">
      <h1>Hi there!</h1>
      <h3>Use your Facebook or Twitter account to get started the easy way!<br>
          <small>(Don't worry, we promise we'll never spam your friends.)</small></h3>
      
      <a class="btn btn-large btn-block btn-primary social-login-button" href="/auth/facebook"><i class="icon-facebook"></i>&nbsp; Login with Facebook</a>
      <a class="btn btn-large btn-block btn-info social-login-button" href="/auth/twitter"><i class="icon-twitter"></i>&nbsp; Login with Twitter</a>
    </div>
    
    <h2>Old Fashioned?</h2>
    <% if @user_session.errors.empty? %>
    <p>Use your login name and password.</p>
    <% else %>
      <% content_for :page_script do %>
        <script type="text/javascript" charset="utf-8">
          $(function() {
            $('#user_session_login_name').focus();
          });
        </script>
      <% end %>
    <div class="alert alert-error">
      Oops – your Login Name or Password was incorrect!
    </div>
    <% end %>
    <%= simple_form_for @user_session, :url => user_session_path, :html => {:class => 'login-form form-inline text-center'} do |f| %>
      <%= f.input_field :login_name, :label => false, :placeholder => 'Login Name' %>
      <%= f.input_field :password, :label => false, :placeholder => 'Password' %>
      <%= f.submit "Log In", :class => 'btn btn-primary' %>
    <% end %>
  
    <p>Don't have an account yet? <%= link_to 'Sign up now', signup_path %>!</p>
  </div>
</div>

