<div class="login-form">
  <div>
    sign in
    <%= link_to(image_tag("login-form-small-facebook-icon.png", :alt => 'Login with Facebook'), '/auth/facebook') %>
    <%= link_to(image_tag("login-form-small-twitter-icon.png", :alt => 'Login with Twitter'), '/auth/twitter') %>
    <small>or</small>

  </div>
  <div>
    <%= form_for new_user_session_object, :url => user_session_path do |form| %>
      <%= form.text_field :username, :placeholder => "worlize name", :size => 13 %>
      <%= form.password_field :password, :placeholder => "password", :size => 13 %>
      <%= submit_tag "sign in" %>
    <% end %>
  </div>
</div>