<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <% if content_for?(:title) %>
      <title><%= yield(:title) %> - Worlize</title>
    <% else %>
      <title>Worlize - Your World Realized</title>
    <% end %>

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <%= stylesheet_link_tag "bootstrap" %>
    
    <style type="text/css">
    <%= yield :extra_styles %>
    </style>

    <%= render :partial => 'layouts/open_graph_global' %>

    <%= yield :extra_head_items %>
    
    <%= javascript_include_tag "modernizr" %>
    
    <%= csrf_meta_tag %>
  </head>
  <% if content_for?(:page_id) %>
  <body id="<%= yield(:page_id) %>">
  <% else %>
  <body>
  <% end %>
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId  : '<%= Worlize.config['facebook']['app_id'] %>',
        status : true, // check login status
        cookie : true, // enable cookies to allow the server to access the session
        xfbml  : true,  // parse XFBML
        channelUrl  : '<%= "#{request.scheme}://#{request.host_with_port}/channel.html" %>', // Custom Channel URL
        oauth : true //enables OAuth 2.0
      });
    };

    (function() {
      var e = document.createElement('script');
      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
      e.async = true;
      document.getElementById('fb-root').appendChild(e);
    }());
  </script>
  
  <header>
    <div class="container">
      <h1 id="worlize-logo" rel="logo">Worlize</h1>
    </div>
  </header>
  
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span12">
          <%= render 'layouts/messages_bootstrap' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  
  <% if Rails.env == 'production' -%>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="/javascripts/libs/jquery-1.9.1-min.js"%3E%3C/script%3E'))</script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  <%- else -%>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="/javascripts/libs/jquery-1.9.1.js"%3E%3C/script%3E'))</script>
    <script src="/bootstrap/js/bootstrap.js"></script>
  <% end -%>

  <script src="/javascripts/plugins.js"></script>
  <script src="/javascripts/script.js"></script>

  <%= yield :page_script %>
  
  <%- if Rails.env == 'production' -%>
       <script type="text/javascript">

         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-7700604-3']);
         _gaq.push(['_setDomainName', '.worlize.com']);
         _gaq.push(['_trackPageview']);

         (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();

       </script>
  <%- end -%>
  </body>
</html>