<!doctype html>  

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <% if content_for?(:title) %>
    <title><%= yield(:title) %> - Worlize</title>
  <% else %>
    <title>Worlize - Your World Realized</title>
  <% end %>

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="/stylesheets/main-fonts.css?v=2">

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="/stylesheets/plain.css?v=3">
  <link rel="stylesheet" href="/stylesheets/login.css" type="text/css" charset="utf-8">
 
  <style type="text/css">
  <%= yield :extra_styles %>
  </style>
 
  <%= yield :extra_head_items %>
 
  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="/javascripts/libs/modernizr-1.6.min.js"></script>
    
  <script>
  <% if current_user %>
    loggedIn = true;
  <% else %>
    loggedIn = false;
  <% end %>
  </script>
  
  <%= csrf_meta_tag %>

</head>

<body>
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId  : '<%= Worlize.config['facebook']['app_id'] %>',
        status : true, // check login status
        cookie : true, // enable cookies to allow the server to access the session
        xfbml  : true,  // parse XFBML
        channelUrl  : '<%= "#{request.scheme}://#{request.host_with_port}/channel.html" %>', // Custom Channel URL
        oauth : true //enables OAuth 2.0
      });
    };

    (function() {
      var e = document.createElement('script');
      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
      e.async = true;
      document.getElementById('fb-root').appendChild(e);
    }());
  </script>
  
  <img src="/images/ajax-loader.gif" style="position: absolute; top: -10000px">

  <div id="container" class="unselectable">
    <div class="beta-banner">
      <h1>Worlize Beta</h1>
    </div>
    
    <% if flash[:notice] %>
    <div id="flash_notice">
      <%= flash[:notice] %>
    </div>
    <% end %>

    <% if flash[:alert] %>
    <div id="flash_alert">
      <%= flash[:alert] %>
    </div>
    <% end %>
    
    <div id="main">
      <div id="fake-app-background"> </div>
      <div id="login-overlay-shroud"> </div>

      <%= yield %>
    </div>

  </div> <!--! end of #container -->


  <!-- Javascript at the bottom for fast page loading -->
  <% if Rails.env == 'production' -%>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="/javascripts/libs/jquery.min.js"%3E%3C/script%3E'))</script>
  <%- else -%>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="/javascripts/libs/jquery.js"%3E%3C/script%3E'))</script>
  <% end -%>
  
  
  <script src="/javascripts/plugins.js"></script>
  <script src="/javascripts/script.js"></script>
  
  <%= yield :page_script %>
  
  <!--[if lt IE 7 ]>
    <script src="javascripts/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
  <![endif]-->

  <%- if Rails.env == 'production' -%>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7700604-3']);
      _gaq.push(['_setDomainName', '.worlize.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  <%- end -%>
  
</body>
</html>